@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bcg:white;
    --main-color:#2c3e50;
    --main-color-alt:#34495e;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --mainSpacing: 0.3rem;
    --black:#333;
    --btn:#c0392b;
    --transition: all 0.3s linear;
}
body {
    background-color: var(--bcg);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
    font-weight: 600;
    color: var(--black);
    text-transform: capitalize;
}
p {
    margin-bottom: 1.25rem;
    font-weight: 300;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--mainBlack);
}
img {
    width: 100%;
    display: block;
}